{# Page listant les utilisateurs et proposant l'action adéquate à effectuer en fonction du paramêtre de requête #}
{% extends "GLWebsiteAdminBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Utilisateurs{% endblock %}

{% block glwebsiteadmin_body %}
    <section class="well">

        {% if action == 'edit' %}
            <h2 class="text-center">Modification utilisateurs</h2>
        {% elseif action == 'remove' %}
            <h2 class="text-center">Suppression utilisateurs</h2>
        {% elseif action == 'validate' %}
            <h2 class="text-center">Utilisateurs en attente de validation</h2>
        {% else %}
        {% endif %}
        <table class="table table-bordered table-striped text-center table-admin ">
            <thead>
                <tr>
                    <th class="text-center">Id</th>
                    <th class="text-center">Nom</th>
                    <th class="text-center">Prénom</th>
                    <th class="text-center">Date d'inscription</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for user in listUsers %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.lastName }}</td>
                        <td>{{ user.firstName }}</td>
                        <td>{{ user.registerDate|date("d/m/Y") }}</td> 
                        {% if action == 'edit' %}
                            <td>
                                <a href="{{ path('gl_website_user_edit', {'id': user.id}) }}">
                                    <button class="btn btn-warning">Modifier</button>
                                </a>
                            </td>
                        {% elseif action == 'remove' %}
                            <td>
                                <a href="{{ path('gl_website_user_remove', {'id': user.id}) }}">
                                    <button class="btn btn-danger">Supprimer</button>
                                </a>
                            </td>
                        {% elseif action == 'validate' %}
                            <td>
                                <a href="{{ path('gl_website_user_validate', {'id': user.id}) }}">
                                    <button class="btn btn-info">Voir</button>
                                </a>
                            </td> 
                        {% elseif action == 'read' %}
                            <td>
                                <a href="{{ path('gl_website_user_read', {'id': user.id}) }}">
                                    <button class="btn btn-info">Voir</button>
                                </a>
                            </td> 
                        {% else %}
                        {% endif %}  
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}