{# Page servant à Voir les informations utilisateur #}
{% extends "GLWebsiteAdminBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Voir utilisateur{% endblock %}


{% block glwebsiteadmin_body %}
    <section class="well">
        <h1 class="text-center">Utilisateur</h1>

        <h3>Prénom</h3>
        <p>
            {{ user.firstName }}
        </p>
        <h3>Nom</h3>
        <p>
            {{ user.lastName }}
        </p>
        <h3>Date de naissance</h3>
        <p>
            {{ user.birthDate|date("d/m/Y") }}
        </p>
        <h3>Email</h3>
        <p>
            {{ user.email }}
        </p>
        <h3>Téléphone domicile</h3>
        <p>
            {{ user.phoneHome }}
        </p>
        <h3>Téléphone portable</h3>
        <p>
            {{ user.mobilePhone }}
        </p>
        <h3>Autorise à utiliser son image</h3>
        <p>
            {% if user.allowImageRights %}oui{% else %}non{% endif%}
        </p>
        
        <a href="{{ path('gl_website_user_list', {'action': 'read'}) }}" class="btn btn-default">
                <i class="glyphicon glyphicon-chevron-left"></i>
                Retour
        </a>

    </section>
{% endblock %}