{# Page listant les articles et proposant l'action adéquate à effectué en fonction du paramêtre de requête #}
{% extends "GLWebsiteAdminBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Evénements{% endblock %}

{% block glwebsiteadmin_body %}
    <section class="well">

        {% if action == 'edit' %}
            <h2 class="text-center">Modification événements</h2>
        {% elseif action == 'remove' %}
            <h2 class="text-center">Suppression événements</h2>
        {% else %}
        {% endif %}
        <table class="table table-bordered table-striped text-center table-admin ">
            <thead>
                <tr>
                    <th class="text-center">Id</th>
                    <th class="text-center">Catégorie</th>
                    <th class="text-center">Libellé</th>
                    <th class="text-center">Date de l'événement</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for event in listEvents %}
                <tr>
                    <td >{{ event.id }}</td>
                    <td>{{ event.category.name }}</td>
                    <td>{{ event.name }}</td>
                    <td>{{ event.date|date("d/m/Y") }}</td>
                    {% if action == 'edit' %}
                        <td>
                            <a href="{{ path('gl_website_event_edit', {'id': event.id}) }}">
                                <button class="btn btn-warning">Modifier</button>
                            </a>
                        </td>
                    {% elseif action == 'remove' %}
                        <td>
                            <a href="{{ path('gl_website_event_remove', {'id': event.id}) }}">
                                <button class="btn btn-danger">Supprimer</button>
                            </a>
                        </td>
                    {% else %}
                    {% endif %}       
                </tr>
                {%endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}