{% extends "CoreBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - {{ article.title }}{% endblock %}

{% block core_body %}
    <article class="well col-lg-12">
        <h1 class="text-center article-title">{{ article.title }}</h1>
        
        {% if article.image.id is defined %}
            <div class="center-block">
                <img class="img img-responsive img-article " alt="{{ article.title }}" src="{{asset('img/' ~ article.image.imageName)}}">
            </div>
        {% elseif article.subCategory.category.image.id is defined %}
            <div class="center-block">
                <img class="img img-responsive img-article " alt="{{ article.title }}" src="{{asset('img/'~article.subCategory.category.image.imageName)}}">
            </div>
            
        {% endif %}

        <hr>
        <p class="subtitle">
            {{ article.subTitle }}
        </p>
        <hr>
        <div class="txt-article">
            {{ article.content|purify('custom') }}
        </div>
    </article>
{% endblock %}
