{% extends "CoreBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block core_body %}
    <div class="row">
        {% for article in listArticles %}

            <article class="col-lg-6">
                <div class="row">
                    <figure class="col-lg-12">
                        <div class="zoom-effect-container">
                            <a href="{{ path('core_article', {'slug': article.slug,'category': article.subCategory.category.name,'subCategory': article.subCategory.name }) }}">
                                <img class="img img-responsive article-img" src="{% if article.image.imageName is defined %}{{asset('img/'~article.image.imageName)}}{% endif %}">
                            </a>
                            <figcaption class="article-caption">
                                <h3 class="article-title"><a href="{{ path('core_article', {'slug': article.slug,'category': article.subCategory.category.name,'subCategory': article.subCategory.name }) }}">{{ article.title }}</a></h3>
                            </figcaption>
                        </div>
                    </figure>
                </div>
                <div class="row">

                    <div class="col-lg-12">

                        <p class="lead box text-article">
                            {{ article.subTitle }}
                        </p>
                        <p class="article-info"><small >Auteur: Moimême</small><small>Date: {{ article.publicationDate|date("d/m/Y") }}</small></p>

                    </div>
                </div>
            </article>
        {% endfor %}


    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js"
    integrity="sha256-+oeQRyZyY2StGafEsvKyDuEGNzJWAbWqiO2L/ctxF6c=" crossorigin="anonymous"></script>
    <script src="{{ asset('js/equalheight.js') }}"></script>
{% endblock %}