{# Page servant à supprimer les articles #}
{% extends "GLWebsiteAdminBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Supprimer Catégories d'articles{% endblock %}


{% block glwebsiteadmin_body %}
    <section class="well">
        <h1 class="text-center">Suppression de catégories d'articles</h1>

        <h3>Nom catégorie</h3>
        <p>
            {{ categoryArticle.name }}
        </p>
        <h3>Image</h3>
        <p>
            <img src="{{ vich_uploader_asset(categoryArticle.image, 'imageFile') }}" alt="{{ categoryArticle.image.imageName }}" class="img-responsive"/>
        </p>

        <form action="{{ path('gl_website_category_article_remove', {'id': categoryArticle.id}) }}" method="post">
            <a href="{{ path('gl_website_category_article_list', {'action': 'remove'}) }}" class="btn btn-default">
                <i class="glyphicon glyphicon-chevron-left"></i>
                Retour
            </a>

            <input type="submit" value="Supprimer" class="btn btn-danger" />

            {{ form_rest(form) }}
        </form>

    </section>
{% endblock %}