{# Page servant à supprimer les membres #}
{% extends "GLWebsiteAdminBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Supprimer membre{% endblock %}


{% block glwebsiteadmin_body %}
    <section class="well">
        <h1 class="text-center">Membre</h1>

        <h3>Prénom</h3>
        <p>
            {{ member.firstName }}
        </p>
        <h3>Nom</h3>
        <p>
            {{ member.lastName }}
        </p>
        <h3>Date de naissance</h3>
        <p>
            {{ member.birthDate|date("d/m/Y") }}
        </p>
        <h3>Email</h3>
        <p>
            {{ member.email }}
        </p>
        <h3>Téléphone domicile</h3>
        <p>
            {{ member.phoneHome }}
        </p>
        <h3>Téléphone portable</h3>
        <p>
            {{ member.mobilePhone }}
        </p>
        <h3>Numéro FFE</h3>
        <p>
            {{ member.numLicence }}
        </p>
        <h3>Autorise à utiliser son image</h3>
        <p>
            {% if member.allowImageRights %}oui{% else %}non{% endif%}
        </p>
        
        <h1 class="text-center">Adresse</h1>
        
        <h3>Numéro de voie</h3>
        <p>
            {{ member.wayNumber }}
        </p>
        
        <h3>Libellé voie</h3>
        <p>
            {{ member.way }}
        </p>
        
        <h3>Complément d'adresse</h3>
        <p>
            {{ member.additionalAddress }}
        </p>
        
        <h3>Ville</h3>
        <p>
            {{ member.city }}
        </p>
        
        <h3>Code Postal</h3>
        <p>
            {{ member.postalCode }}
        </p>
        
        <h3>Pays</h3>
        <p>
            {{ member.country }}
        </p>
        
        <h1 class="text-center">Compte utilisateur site web</h1>
        <h3>Login</h3>
        <p>
            {{ member.user.username }}
        </p>
        <h3>Date de création du compte</h3>
        <p>
            {{ member.user.registerDate|date("d/m/Y") }}
        </p>

        <form action="{{ path('gl_website_member_remove', {'id': member.id}) }}" method="post">
            
            <a href="{{ path('gl_website_member_list', {'action': 'remove'}) }}" class="btn btn-default">
                <i class="glyphicon glyphicon-chevron-left"></i>
                Retour
            </a>

            <input type="submit" value="Supprimer" class="btn btn-danger" />

            {{ form_rest(form) }}
        </form>

    </section>
{% endblock %}
