{# Page servant à visualiser les articles avant suppression #}
{% extends "GLWebsiteAdminBundle:Article:articleLayout.html.twig" %}

{% block title %}{{ parent() }} - Supprimer{% endblock %}


{% block glwebsiteadmin_body %}
   <section class="well">    
    <h2>Supprimer un article</h2>

    <h3>Titre</h3>
    <p>
      {{ article.title }}
    </p>
    <h3>Sous-titre</h3>
    <p>
      {{ article.title }}
    </p>
    <h3>Image</h3>
    <p>
        <img src="{{ vich_uploader_asset(article.image, 'imageFile') }}" alt="{{ article.image.imageName }}" class="img-responsive"/>
    </p>
    <h3>Catégorie</h3>
    <p>
      {{ article.subCategory.name }}
    </p>
    <h3>Contenu</h3>
    <p>
      {{ article.content|purify('custom')}}
    </p>

  
  <form action="{{ path('gl_website_article_remove', {'id': article.id}) }}" method="post">
    <a href="{{ path('gl_website_article_list', {'action': 'remove'}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour
    </a>
    
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    
    {{ form_rest(form) }}
  </form>
        
   </section>
{% endblock %}
{% block javascripts %}
    {{parent()}}
{% endblock %}