{# layout du CoreBundle #}
{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <header class="banner">   
                    <img src="http://via.placeholder.com/1920x100" class="img-responsive center-block bannerImg">
            </header>
            
        </div>
        <div class="row">
            {# affiche le menu #}
            {{ render(controller("CoreBundle:WebsitePortal:menu")) }}
        </div>
        <div  class="row">
            <aside class="col-lg-3">
                <section class="well">
                    <h3 class="text-center">Agenda</h3>
                    <hr/>
                    <table class="table table-striped">
                        <tbody>
                            {# affiche l'agenda avec les 5 prochains événements #}
                            {{ render(controller("GLWebsiteAdminBundle:Event:listFutureEventIndex")) }}
                        </tbody>
                    </table>
                </section>
                
                <section class="well chess-puzzle">
                    <h3 class="text-center">Puzzle du jour</h3>
                    <hr/>
                       <iframe class="center-block" width="256" scrolling="no" height="293" frameborder="0" src="http://www.shredderchess.com/online/playshredder/
gdailytactics.php?mylang=en&mysize=26"></iframe>
                    
                </section>
                
                <section class="well">
                        <h3 class="text-center">Classement mondial</h3>
                    <hr/>
                       <a href="http://www.2700chess.com" target="_blank"><img class="img img-responsive center-block" border="0" src="http://www.2700chess.com/files/topten.png" alt= "2700chess.com for more details and full list" title="2700chess.com for more details and full list"/></a>
                    
                </section>
                
            </aside>
            <section class="col-lg-7">
                {% block core_body %}                  
                {% endblock %}
            </section>
            <aside class="col-lg-2">
                <section class="well">
                    <h3 class="text-center">Liens</h3>
                    <hr/>
                    <a href="http://www.villedeteteghem.fr/"><img class="img img-responsive link" alt="" src="{{asset('img/mairie_de_teteghem_cdk_village.jpg')}}"></a>
                    <a href="http://www.echecs.asso.fr/"><img class="img img-responsive link" alt="" src="{{asset('img/Logo_FFE_texte_horizontal.jpg')}}"></a>
                    <a href="http://ehdf.fr/"><img class="img img-responsive link" alt="" src="{{asset('img/ligue_hdf.png')}}"></a>
                        
                </section>
                
            </aside>
        </div>
       
        <footer class="row">   
            <div class="col-lg-3">
                <div class="copyrights footer-element">
                    <p>Diagonale du fou © 2017
                       <br />
                       Créé par Gauthier LANTOINE
                    </p>                    
                </div>
            </div>
            <div class="col-lg-6">
                <h4 class="text-center">Ouverture du club :</h4>
                <p class="text-center">
                    lundi: 17h30 - 20h   jeudi: 17h30 - 20h
                    <br />
                    mardi: 17h30 - 20h   samedi: 17h30 - 20h
                </p>
            </div>
            <div class="col-lg-3">
                <div class="pull-right">
                    <h4 class="text-center">Nous contacter:</h4>
                    <p>
                        diagonaledufou@teteghem.fr 
                    </p>
                </div>
            </div>
        </footer>
            
        
    </div>
{% endblock %}
