{# layout du CoreBundle #}
{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <header class="banner">   
                    <img src="{{asset('img/chess-1483735.jpg')}}" class="img-responsive center-block bannerImg">
            </header>
            
        </div>
        <div class="row">
            <nav class="navbar navbar-inverse menu center-block">

                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('core_homepage') }}">Accueil</a>
                  </div>
                  <div id="navbar" class="navbar-collapse collapse">
                      <ul class="nav navbar-nav">
                         <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Vie du club <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                              <li><a href="#">Compétition</a></li>
                              <li><a href="#">Loisir</a></li>
                              <li><a href="#">Info pratique</a></li>
                              <li><a href="#">Info légales</a></li>
                            </ul>
                          </li>
                          <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Actualité échiquéenne <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                              <li><a href="#">Compétition Internationnale</a></li>
                              <li><a href="#">Les échecs dans le monde</a></li>
                            </ul>
                          </li>
                          <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Apprentissage <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                              <li><a href="#">Règles du jeu</a></li>
                              <li><a href="#">Exercices</a></li>
                              
                            </ul>
                          </li>
                          {% if is_granted('ROLE_USER') %}
                          <li><a href="#">Jeu en différé</a></li>
                          {% endif %}
                          {% if is_granted('ROLE_AUTHOR') or is_granted('ROLE_MODERATOR') %}
                          <li><a href="{{ path('gl_website_admin_homepage') }}">Administration</a></li>
                          {% endif %}
                      </ul>
                      <ul class="nav navbar-nav navbar-right">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <li><a>Bienvenue {{ app.user.username }}</a></li>
                            <li class="navbar-form"><a style="padding:0px" href="{{ path('fos_user_security_logout') }}"><button class="btn btn-danger">Déconnexion</button></a></li>
                        {% else %}
                            <li class="navbar-form"><a style="padding:0px" href="{{ path('fos_user_registration_register') }}"><button  class="btn btn-success">S'inscrire</button></a></li>
                            <li class="navbar-form"><a style="padding:0px" href="{{ path('fos_user_security_login') }}"><button class="btn btn-info">Connexion</button></a></li>
                        {% endif %}
                      </ul>
                  </div>

            </nav>
        </div>
        <div  class="row">
            <aside class="col-lg-3">
                <section class="well">
                    <h3 class="text-center">Agenda</h3>
                    <hr/>
                    <table class="table table-striped">
                        <tbody>
                             {{ render(controller("GLWebsiteAdminBundle:Event:listFutureEventIndex")) }}
                        </tbody>
                    </table>
                </section>
                
                <section class="well chess-puzzle">
                    <h3 class="text-center">Puzzle du jour</h3>
                    <hr/>
                       <iframe class="center-block" width="256" scrolling="no" height="293" frameborder="0" src="http://www.shredderchess.com/online/playshredder/
gdailytactics.php?mylang=en&mysize=26"></iframe>
                    
                </section>
                
                <section class="well">
                        <h3 class="text-center">Classement mondial</h3>
                    <hr/>
                       <a href="http://www.2700chess.com" target="_blank"><img class="img img-responsive center-block" border="0" src="http://www.2700chess.com/files/topten.png" alt= "2700chess.com for more details and full list" title="2700chess.com for more details and full list"/></a>
                    
                </section>
                
            </aside>
            <section class="col-lg-7">
                {% block core_body %}                  
                {% endblock %}
            </section>
            <aside class="col-lg-2">
                <section class="well">
                    <h3 class="text-center">Liens</h3>
                    <hr/>
                    <a href="http://www.villedeteteghem.fr/"><img class="img img-responsive" alt="" src="{{asset('img/mairie_de_teteghem_cdk_village.jpg')}}"></a>
                    <a href="http://www.echecs.asso.fr/"><img class="img img-responsive" alt="" src="{{asset('img/Logo_FFE_texte_horizontal.jpg')}}"></a>
                    <a href="http://ehdf.fr/"><img class="img img-responsive" alt="" src="{{asset('img/ligue_hdf.png')}}"></a>
                        
                </section>
                
            </aside>
        </div>
       
        <footer class="row">   
            <div class="col-lg-3">
                <div class="copyrights footer-element">
                    <p>Diagonale du fou © 2017
                       <br />
                       Créé par Gauthier LANTOINE
                    </p>                    
                </div>
            </div>
            <div class="col-lg-6">
                <h4 class="text-center">Ouverture du club :</h4>
                <p class="text-center">
                    lundi: 17h30 - 20h   jeudi: 17h30 - 20h
                    <br />
                    mardi: 17h30 - 20h   samedi: 17h30 - 20h
                </p>
            </div>
            <div class="col-lg-3">
                <div class="pull-right">
                    <h4 class="text-center">Nous contacter:</h4>
                    <p>
                        diagonaledufou@teteghem.fr 
                    </p>
                </div>
            </div>
        </footer>
            
        
    </div>
{% endblock %}
