{# Page d'accueil de l'administration du site web #}
{% extends "GLWebsiteAdminBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block glwebsiteadmin_body %}
    {% for message in app.session.flashbag.get('notice') %}
        <div class="jumbotron">      
            <p class="text-center">{{ message }}</p>
        </div>    
    {% endfor %}
    {% if is_granted('ROLE_ADMIN') %}
        <section class="well">
            <h2 class="text-center">Inscrit en attente de validation</h2>
            <table class="table table-bordered table-striped text-center table-admin ">
                <thead>
                    <tr>
                        <th class="text-center">Id</th>
                        <th class="text-center">Nom</th>
                        <th class="text-center">Prénom</th>
                        <th class="text-center">Date d'inscription</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for member in listMembers %}
                        <tr>
                            <td>{{ member.id }}</td>
                            <td>{{ member.lastName }}</td>
                            <td>{{ member.firstName }}</td>
                            <td>{{ member.registerDate|date("d/m/Y") }}</td>                       
                            <td>
                                <a href="{{ path('gl_website_member_validate', {'id': member.id}) }}">
                                    <button class="btn btn-info">Voir</button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    {% endif %}
    {% if is_granted('ROLE_MODERATOR') %}
        <section class="well">        
            {{ render(controller("GLWebsiteAdminBundle:Article:listValidate")) }}       
        </section>
    {% endif %}    
{% endblock %}
