{% extends "CoreBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block core_body %}
                 
                 <div class="row">
                    <article class="col-lg-6">
                        <div class="row">
                            <figure class="col-lg-12">
                                <div class="zoom-effect-container">
                                    <a href=""><img class="img img-responsive article-img" src="{{asset('img/DefaultImage.jpg')}}"></a>
                                    <figcaption class="article-caption">
                                        <h3 class="article-title"><a href="">Your article title goes here</a></h3>
                                    </figcaption>
                                </div>
                            </figure>
                        </div>
                        <div class="row">
                            
                            <div class="col-lg-12">
                                
                                    <p class="lead box text-article">
                                        Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla 
                                    </p>
                                    <p class="article-info"><small >Auteur: Moimême</small><small>Date: 01/05/17</small></p>
                                
                            </div>
                        </div>
                    </article>
                    <article class="col-lg-6">
                        <div class="row">
                            
                                <figure class="col-lg-12">
                                    <div class="zoom-effect-container">
                                        <a href=""><img class="img img-responsive article-img" src="{{asset('img/cow.jpg')}}"></a>
                                        <figcaption class="article-caption">
                                            <h3 class="article-title"><a href="">Your article title goes here</a></h3>
                                        </figcaption>
                                    </div>
                                </figure>
                            
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                
                                    <p class="lead box text-article">
                                        Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla 
                                    </p>
                                    <p class="article-info"><small >Auteur: Moimême</small><small>Date: 01/05/17</small></p>
                                
                            </div>
                        </div>
                    </article>
                 </div>
                 <div class="row">
                    <article class="col-lg-6">
                        <div class="row">
                            <figure class="col-lg-12">
                                <div class="zoom-effect-container">
                                    <a href=""><img class="img img-responsive article-img" src="{{asset('img/red-fox.jpg')}}"></a>
                                    <figcaption class="article-caption">
                                        <h3 class="article-title"><a href="">Your article title goes here</a></h3>
                                    </figcaption>
                                </div>
                            </figure>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                
                                    <p class="lead box text-article">
                                        Un renard dans l'équipe pour gagner des tournois.
                                    </p>
                                    <p class="article-info"><small >Auteur: Moimême</small><small>Date: 01/05/17</small></p>
                               
                            </div>
                        </div>
                    </article>
                    <article class="col-lg-6">
                        <div class="row">
                            <figure class="col-lg-12">
                                <div class="zoom-effect-container">
                                    <a href=""><img class="img img-responsive article-img" src="{{asset('img/lapin.jpg')}}"></a>
                                    <figcaption class="article-caption">
                                        <h3 class="article-title"><a href="">Your article title goes here</a></h3>
                                    </figcaption>
                                </div>
                            </figure>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 ">
                                
                                    <p class="lead box text-article">
                                        Un lapin s'est inscrit au club de téteghem en promettant de ne pas ronger les pièces.
                                                                              
                                    </p>
                                    <p class="article-info"><small >Auteur: Moimême</small><small>Date: 01/05/17</small></p>
                                    
                               
                            </div>
                        </div>
                    </article>
                 </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js"
    integrity="sha256-+oeQRyZyY2StGafEsvKyDuEGNzJWAbWqiO2L/ctxF6c=" crossorigin="anonymous"></script>
    <script src="{{ asset('js/equalheight.js') }}"></script>
{% endblock %}