{% extends "CoreBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block core_body %}
                 
                 <div class="row">
                    <article class="col-lg-6">
                        <div class="row">
                            <figure class="col-lg-12">
                                <div class="zoom-effect-container">
                                    <a href=""><img class="img img-responsive article-img" src="{{asset('img/DefaultImage.jpg')}}"></a>
                                    <figcaption class="article-caption">
                                        <h3 class="article-title"><a href="">Your article title goes here</a></h3>
                                    </figcaption>
                                </div>
                            </figure>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <p class="lead">
                                    Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla 
                                </p>
                            </div>
                        </div>
                    </article>
                    <article class="col-lg-6">
                        <div class="row">
                            
                                <figure class="col-lg-12">
                                    <div class="zoom-effect-container">
                                        <a href=""><img class="img img-responsive article-img" src="{{asset('img/cow.jpg')}}"></a>
                                        <figcaption class="article-caption">
                                            <h3 class="article-title"><a href="">Your article title goes here</a></h3>
                                        </figcaption>
                                    </div>
                                </figure>
                            
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <p class="lead">
                                    Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla 
                                </p>
                            </div>
                        </div>
                    </article>
                 </div>
                 <div class="row">
                    <article class="col-lg-6">
                        <div class="row">
                            <figure class="col-lg-12">
                                <div class="zoom-effect-container">
                                    <a href=""><img class="img img-responsive article-img" src="{{asset('img/red-fox.jpg')}}"></a>
                                    <figcaption class="article-caption">
                                        <h3 class="article-title"><a href="">Your article title goes here</a></h3>
                                    </figcaption>
                                </div>
                            </figure>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <p class="lead">
                                    Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla 
                                </p>
                            </div>
                        </div>
                    </article>
                    <article class="col-lg-6">
                        <div class="row">
                            <figure class="col-lg-12">
                                <div class="zoom-effect-container">
                                    <a href=""><img class="img img-responsive article-img" src="{{asset('img/DefaultImage.jpg')}}"></a>
                                    <figcaption class="article-caption">
                                        <h3 class="article-title"><a href="">Your article title goes here</a></h3>
                                    </figcaption>
                                </div>
                            </figure>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <p class="lead">
                                    Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla 
                                </p>
                            </div>
                        </div>
                    </article>
                 </div>
{% endblock %}