{% extends "CoreBundle:Chess:layout.html.twig" %}

{% block title %}{{ parent() }} - Défi{% endblock %}

{% block chess_game %}

    {% for message in app.session.flashbag.get('notice') %}
        <div class="jumbotron">      
            <p class="text-center">{{ message }}</p>
        </div>    
    {% endfor %}

    <h3 class="text-center">Défis reçu</h3>
    <div class="list-chess">
        <table class="table table-bordered table-striped text-center table-admin ">
            <thead>
                <tr>
                    <th class="text-center">Numéro Défi</th>
                    <th class="text-center">Adversaire</th>
                    <th class="text-center">Couleur</th>
                    <th class="text-center">Décision</th>
                </tr>
            </thead>
            <tbody>
                {% for challenge in listChallenges %}
                    <tr>
                        <td>{{ challenge.id }}</td>
                        <td>{{ challenge.memberChallenger.firstName }} {{ challenge.memberChallenger.lastName }}</td>
                        <td>
                            {% if challenge.challengerColor == 'blanc'%}
                                noir
                            {%else%}
                                blanc
                            {%endif%}
                        </td>
                        <td>
                            <a href="{{ path('core_challenge_decision_accept', {'id': challenge.id}) }}">
                                <button class="btn btn-success">Accepter</button>
                            </a>
                            <a href="{{ path('core_challenge_decision_refuse', {'id': challenge.id}) }}">
                                <button class="btn btn-danger">Refuser</button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}


            </tbody>
        </table>
    </div>
    <h3 class="text-center">Défis envoyés</h3>
    <div class="list-chess">
        <table class="table table-bordered table-striped text-center table-admin ">
            <thead>
                <tr>
                    <th class="text-center">Numéro Défi</th>
                    <th class="text-center">Adversaire</th>
                    <th class="text-center">Couleur</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for challenge in listChallengesSend %}
                    <tr>
                        <td>{{ challenge.id }}</td>
                        <td>{{ challenge.memberChallenged.firstName }} {{ challenge.memberChallenged.lastName }}</td>
                        <td>
                            {{ challenge.challengerColor }} 
                        </td>
                        <td>
                            <a href="{{ path('core_challenge_drop_action', {'id': challenge.id}) }}">
                                <button class="btn btn-danger">Annuler</button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}


            </tbody>
        </table>
    </div>
    <hr> 
    <h3 class="text-center">Lancer défi</h3>
    <h4>Choix adversaire</h4>
    {{ form_start(form, {'attr': {'class': 'form-vertical'}}) }}

    {{ form_errors(form) }}

    {{ form_row(form.memberChallenged, { 'label': 'Membre à défier' }) }}

    {{ form_row(form.challengerColor, { 'label': 'Choix de la couleur' }) }}

    {{ form_row(form.save, { 'label': 'Lancer Défi' }) }}

    {{ form_end(form)}}

{% endblock %}
