{% extends "CoreBundle:Chess:layout.html.twig" %}

{% block title %}{{ parent() }} - Liste Partie{% endblock %}

{% block chess_game %}
    <h3 class="text-center">Parties à jouer</h3>
    
    <div class="list-chess">
        <table class="table table-bordered table-striped text-center table-admin ">
                <thead>
                    <tr>
                        <th class="text-center">Numéro de Partie</th>
                        <th class="text-center">Joueur Blanc</th>
                        <th class="text-center">Joueur Noir</th>
                        <th class="text-center">Débuté le</th>
                        <th class="text-center">Nombre de coups</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for chessGame in listCurrentGames %}
                        <tr>
                            <td>{{ chessGame.id }}</td>
                            <td>{{ chessGame.memberWhite.firstName }}<br>{{ chessGame.memberWhite.lastName }}</td>
                            <td>{{ chessGame.memberBlack.firstName }}<br>{{ chessGame.memberBlack.lastName }}</td>
                            <td>{{ chessGame.dateStart|date("d/m/Y") }}</td>
                            <td>{{ chessGame.moveNumber }}</td>
                            <td>
                                <a href="{{path('core_play_game', { 'id': chessGame.id })}}">
                                    <button class="btn btn-success">Jouer</button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}

                </tbody>
        </table>
    </div>
        <h3 class="text-center">Parties en attente</h3>
    
    <div class="list-chess">
        <table class="table table-bordered table-striped text-center table-admin ">
                <thead>
                    <tr>
                        <th class="text-center">Numéro de Partie</th>
                        <th class="text-center">Joueur Blanc</th>
                        <th class="text-center">Joueur Noir</th>
                        <th class="text-center">Débuté le</th>
                        <th class="text-center">Nombre de coups</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for chessGame in listWaitingGames %}
                        <tr>
                            <td>{{ chessGame.id }}</td>
                            <td>{{ chessGame.memberWhite.firstName }}<br>{{ chessGame.memberWhite.lastName }}</td>
                            <td>{{ chessGame.memberBlack.firstName }}<br>{{ chessGame.memberBlack.lastName }}</td>
                            <td>{{ chessGame.dateStart|date("d/m/Y") }}</td>
                            <td>{{ chessGame.moveNumber }}</td>
                            <td>
                                <a href="{{path('core_view_game', { 'id': chessGame.id })}}">
                                    <button class="btn btn-success">Voir</button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}

                </tbody>
        </table>
    </div>
{% endblock %}
